<!DOCTYPE html>
<html class="no-js" lang="">
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hosoren &middot; Homepage</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,700,400italic,700italic&amp;subset=latin,vietnamese">
    @Styles.Render("~/Common/css")
    @Scripts.Render("~/newbundles/modernizr")
    @Scripts.Render("~/newbundles/jquery")
    <script>window.SHOW_LOADING = false;</script>
</head>
<body>
    <!-- // LOADING -->
    <div class="awe-page-loading">
        <div class="awe-loading-wrapper">
            <div class="awe-loading-icon">
                <span class="icon icon-logo"></span>
            </div>

            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <!-- // END LOADING -->
   

    <div id="wrapper" class="main-wrapper ">
        @Html.Partial("BaseHeaderView")

        @RenderBody()

        @Html.Partial("BaseFooterView")
    </div><!-- /#wrapper -->

    <div id="login-popup" class="white-popup login-popup mfp-hide">
        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#account-login" aria-controls="account-login" role="tab" data-toggle="tab">Account Login</a>
                </li>
                <li role="presentation">
                    <a href="#account-register" aria-controls="account-register" role="tab" data-toggle="tab">Register</a>
                </li>
            </ul><!-- /.nav -->
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="account-login">
                    <form action="index.html" method="POST">
                        <div class="form-group">
                            <label for="login-account">Account</label>
                            <input type="text" class="form-control" id="login-account">
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label for="login-password">Password</label>
                            <input type="password" class="form-control" id="login-password" data-show-password="true">
                        </div><!-- /.form-group -->
                        <div class="forgot-passwd">
                            <a href="#" title="">
                                <i class="icon icon-key"></i>
                                <span>Forgot your password?</span>
                            </a>
                        </div><!-- /.forgot-passwd -->
                        <div class="form-button">
                            <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
                        </div><!-- /.form-group -->
                    </form>
                </div><!-- /.tab-pane -->
                <div role="tabpanel" class="tab-pane" id="account-register">
                    <form action="index.html" method="POST">
                        <div class="form-group">
                            <label for="register-username">Username <sup>*</sup></label>
                            <input type="text" class="form-control" id="register-username">
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label for="register-email">Email <sup>*</sup></label>
                            <input type="text" class="form-control" id="register-email">
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label for="register-password">Password <sup>*</sup></label>
                            <input type="password" class="form-control" id="register-password">
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label for="register-confirm-password">Confirm Password <sup>*</sup></label>
                            <input type="password" class="form-control" id="register-confirm-password">
                        </div><!-- /.form-group -->
                        <div class="form-button">
                            <button type="submit" class="btn btn-lg btn-warning btn-block">Register</button>
                        </div><!-- /.form-button -->
                    </form>
                </div><!-- /.tab-pane -->
            </div><!-- /.tab-content -->
        </div>
    </div><!-- /.login-popup -->
    <script>
                    $(function () {
                        $('a[href="#login-popup"]').magnificPopup({
                            type: 'inline',
                            midClick: false,
                            closeOnBgClick: false
                        });
                    });
    </script>

   
   
    @Scripts.Render("~/newbundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


