@model Store.Entity.Product.ProductMaster

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ProductMaster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductBrand.BrandName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductBrand.BrandName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductCategory.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCategory.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductColor.ColorText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductColor.ColorText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductSize.SizeText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductSize.SizeText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductSubCategory.SubCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductSubCategory.SubCategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
