@model Store.Web.Areas.Admin.ViewModels.Product.DetailViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ViewModelProduct</h4>
    <hr />
    

    <div class="row">

        <div class="col-md-6">
            <table class="table table-striped">
                <tr>
                    <td><strong>Name</strong></td>
                    <td>@Model.productMaster.Name</td>
                </tr>
                <tr>
                    <td>Category</td>
                    <td>@Model.productMaster.ProductCategory.CategoryName</td>
                </tr>
                <tr>
                    <td>Sub Category</td>
                    <td>
                       @if (Model.productMaster.ProductSubCategory != null) {@Model.productMaster.ProductSubCategory.SubCategoryName }
                    
                    </td>

                </tr>

                <tr>
                    <td>Child Category</td>
                    <td>
                        @if (Model.productMaster.ProductChildCategory != null)
                        {@Model.productMaster.ProductChildCategory.ChildCategoryName }

                    </td>

                </tr>

                <tr>
                    <td>Brand</td>
                    <td>
                    @Model.productMaster.ProductBrand.BrandName</td>

                </tr>
                <tr>
                    <td>Quanitity</td>
                    <td>@Model.productMaster.Quantity</td>

                </tr>
                <tr>
                    <td>Price</td>
                    <td>@Model.productMaster.Price</td>

                </tr>

                <tr>
                    <td>Stock</td>
                    <td>@Model.productMaster.Stock</td>

                </tr>

                <tr>
                    <td>Description</td>
                    <td>@Model.productMaster.ProductDescription</td>

                </tr>
            </table>

        </div>
        <div class="col-md-6">
            
            <div class="row">
                <strong>Product Images</strong>
                @foreach (var image in Model.ImageList)
                {
                    <div class="col-md-4">

                        <img class="img-responsive" src="~/@image.ImageUrl" width="100" height="100" />
                    </div>
                }
            </div>
            <hr />
            <div class="row">
                <strong>Product Color - </strong>
                @foreach (var color in Model.ColorList)
                {
                 
                 <span class="product-tags">@color.ProductColor.ColorText</span>
                 
                }
            </div>
             <hr />   
            <div class="row">
                <strong>Product Size - </strong>
                @foreach (var size in Model.SizeList)
                {
                 

                        <span class="product-tags">@size.ProductSize.SizeText</span>
                 
                }
            </div>
                
            
        </div>
        
       
       
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.productMaster.ProductId }) |
    @Html.ActionLink("Back to List", "Index") | 
    @Html.ActionLink("Delete", "Delete", new { id = Model.productMaster.ProductId }) 

</p>
