@model Store.Web.Areas.Admin.ViewModels.Product.IndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Store Product List</h2>

<p class="text-right">
    @Html.ActionLink("Create New", "Create",null,new { @class="btn btn-primary"})
</p>
<hr />
<div class="container">
    <div  class="row">
        <div class="col-md-4">
            @Html.DropDownList("MainCategory",new SelectList(Model.ProductCategory, "CategoryId", "CategoryName","Select Main Category"), new { @class = "form-control" })
            
        </div>
        <div class="col-md-4">
            <select id="SubCategory" class="form-control"></select>
        </div>
        <div class="col-md-4">
            <select id="ChildCategory" class="form-control"></select>

        </div>

    </div>

    <hr />

    <div class="row">
      <table class="table table-striped">
          <tr>
              <th>Product Name</th>
              <th>Product Price</th>
              <th>Stock</th>
              <th></th>
          </tr>
          <tbody id="ProductBody">
              
          </tbody>
      </table>
    </div>

</div>
@section Scripts {
 @Scripts.Render("~/bundles/jqueryval")

   <script>

       function BindData(results) {
           $('#ProductBody').empty();
           $.each(results, function (key, value) {
               $('#ProductBody').append("<tr><td>" + value.Name + "</td><td>" + value.Price + "</td><td>" + value.Stock + "</td><td><a>Edit</a> | <a>Details</a></td></tr>")

           });

       }
       function BindSubCategory(CategoryList) {
           $('#SubCategory').append("<option value=''>Select Sub Category</option>");
           $.each(CategoryList, function (key, value) {
               $('#SubCategory').append("<option  value='" + value.SubCategoryId + "'>" + value.SubCategoryName + "</option>");

           });
       }
       function BindChildCategory(CategoryList) {
           $('#ChildCategory').append("<option value=''>Select Child Category</option>");
           $.each(CategoryList, function (key, value) {
               $('#ChildCategory').append("<option  value='" + value.ChildCategoryId + "'>" + value.ChildCategoryName + "</option>");

           });
       }


       $(function () {
           $('#MainCategory').on("change", function () {
               if ($(this).val()) {

                   $.ajax({
                       url: "@Url.Action("GetProductsListByCategory","Products")",
                       data: {CategoryId:$(this).val()},
                       type: "POST",
                       dataType: "json",
                       success: function (data) {
                           $('#SubCategory').empty();
                           $('#ChildCategory').empty();
                           if (data.productList)
                           {
                               BindData(data.productList);
                           }
                           if (data.SubCategoryList)
                           {
                               BindSubCategory(data.SubCategoryList);

                           }
                       }
                   })
               }
           })

           //sub category on change
            $('#SubCategory').on("change", function () {
               if ($(this).val())
               {

                   $.ajax({
                       url: "@Url.Action("GetProductsListBySubCategory", "Products")",
                       data: { SubCategoryId:$(this).val()},
                       type: "POST",
                       dataType: "json",
                       success: function (data) {
                           $('#ChildCategory').empty();
                           if (data.productList)
                           {
                               BindData(data.productList);
                           }
                           if (data.ChildCategoryList)
                           {
                               BindChildCategory(data.ChildCategoryList);
                           }
                       }
                   })
               }
           })

           //sub category on change
            $('#ChildCategory').on("change", function () {
               if ($(this).val())
               {

                   $.ajax({
                       url: "@Url.Action("GetProductsListByChildCategory", "Products")",
                       data: { ChildCategoryId:$(this).val()},
                       type: "POST",
                       dataType: "json",
                       success: function (data) {                          
                           if (data.productList)
                           {
                               BindData(data.productList);
                           }                           
                       }
                   })
               }
           })

          
       })

    </script>
}



