@model Store.Entity.Product.ProductChildCategory

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ProductChildCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductCategory.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCategory.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductSubCategory.SubCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductSubCategory.SubCategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildCategoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ChildCategoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
