@model IEnumerable<Store.Entity.Product.ProductChildCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductCategory.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductSubCategory.SubCategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChildCategoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductCategory.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductSubCategory.SubCategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChildCategoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ChildCategoryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ChildCategoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ChildCategoryId })
        </td>
    </tr>
}

</table>
